In [69]:
import pandas as pd

In [111]:
sales = pd.read_csv("C:\\Users\\HOME\\Documents\\data_science\\ml_for_supply_chain_082024\\module2\\supermarket_Sales.csv")
sales.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,Cost of goods sold,Gross margin percentage,Gross income,Customer stratification rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [112]:
sales.index

RangeIndex(start=0, stop=1000, step=1)

In [113]:
sales.index.values

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493,
       494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506,
       507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519,
       520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532,
       533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545,
       546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558,
       559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571,
       572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584,
       585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597,
       598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610,
       611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623,
       624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636,
       637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649,
       650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662,
       663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675,
       676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688,
       689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701,
       702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714,
       715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727,
       728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740,
       741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753,
       754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766,
       767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779,
       780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792,
       793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805,
       806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818,
       819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831,
       832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844,
       845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857,
       858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870,
       871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883,
       884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896,
       897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909,
       910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922,
       923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935,
       936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948,
       949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961,
       962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974,
       975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987,
       988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999],
      dtype=int64)

In [114]:
print(sales.loc[0])

Invoice ID                              750-67-8428
Branch                                            A
City                                         Yangon
Customer type                                Member
Gender                                       Female
Product line                      Health and beauty
Unit price                                    74.69
Quantity                                          7
Tax 5%                                      26.1415
Total                                      548.9715
Date                                       1/5/2019
Time                                          13:08
Payment                                     Ewallet
Cost of goods sold                           522.83
Gross margin percentage                    4.761905
Gross income                                26.1415
Customer stratification rating                  9.1
Name: 0, dtype: object

In [115]:
print(sales.loc[1])

Invoice ID                                   226-31-3081
Branch                                                 C
City                                           Naypyitaw
Customer type                                     Normal
Gender                                            Female
Product line                      Electronic accessories
Unit price                                         15.28
Quantity                                               5
Tax 5%                                              3.82
Total                                              80.22
Date                                            3/8/2019
Time                                               10:29
Payment                                             Cash
Cost of goods sold                                  76.4
Gross margin percentage                         4.761905
Gross income                                        3.82
Customer stratification rating                       9.6
Name: 1, dtype: object

In [116]:
print(sales.iloc[1])

Invoice ID                                   226-31-3081
Branch                                                 C
City                                           Naypyitaw
Customer type                                     Normal
Gender                                            Female
Product line                      Electronic accessories
Unit price                                         15.28
Quantity                                               5
Tax 5%                                              3.82
Total                                              80.22
Date                                            3/8/2019
Time                                               10:29
Payment                                             Cash
Cost of goods sold                                  76.4
Gross margin percentage                         4.761905
Gross income                                        3.82
Customer stratification rating                       9.6
Name: 1, dtype: object

In [131]:
## Set index to date
sales.set_index('Date', inplace = True)

In [132]:
sales

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Time,Payment,Cost of goods sold,Gross margin percentage,Gross income,Customer stratification rating
Date,,,,,,,,,,,,,,,,
1/5/2019,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,13:08,Ewallet,522.83,4.761905,26.1415,9.1
3/8/2019,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,10:29,Cash,76.40,4.761905,3.8200,9.6
3/3/2019,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,13:23,Credit card,324.31,4.761905,16.2155,7.4
1/27/2019,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,20:33,Ewallet,465.76,4.761905,23.2880,8.4
2/8/2019,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1/29/2019,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,13:46,Ewallet,40.35,4.761905,2.0175,6.2
3/2/2019,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,17:16,Ewallet,973.80,4.761905,48.6900,4.4
2/9/2019,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,13:22,Cash,31.84,4.761905,1.5920,7.7
2/22/2019,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,15:33,Cash,65.82,4.761905,3.2910,4.1
2/18/2019,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,13:28,Cash,618.38,4.761905,30.9190,6.6

In [133]:
## Get all sales on Jan. 5, 2019
sales.loc['3/25/2019']

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Time,Payment,Cost of goods sold,Gross margin percentage,Gross income,Customer stratification rating
Date,,,,,,,,,,,,,,,,
3/25/2019,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,29.8865,627.6165,18:30,Ewallet,597.73,4.761905,29.8865,4.1
3/25/2019,362-58-8315,C,Naypyitaw,Normal,Male,Fashion accessories,76.52,5,19.1300,401.7300,10:23,Cash,382.60,4.761905,19.1300,9.9
3/25/2019,340-66-0321,A,Yangon,Member,Male,Electronic accessories,36.36,4,7.2720,152.7120,13:07,Cash,145.44,4.761905,7.2720,7.6
3/25/2019,110-05-6330,C,Naypyitaw,Normal,Female,Food and beverages,39.43,6,11.8290,248.4090,20:18,Credit card,236.58,4.761905,11.8290,9.4
3/25/2019,282-35-2475,B,Mandalay,Normal,Female,Sports and travel,93.31,2,9.3310,195.9510,17:53,Cash,186.62,4.761905,9.3310,6.3
3/25/2019,134-75-2619,A,Yangon,Member,Male,Electronic accessories,19.32,7,6.7620,142.0020,18:51,Cash,135.24,4.761905,6.7620,6.9
3/25/2019,156-95-3964,A,Yangon,Normal,Female,Food and beverages,55.39,4,11.0780,232.6380,15:19,Ewallet,221.56,4.761905,11.0780,8.0
3/25/2019,366-43-6862,B,Mandalay,Normal,Male,Electronic accessories,52.89,4,10.5780,222.1380,16:32,Ewallet,211.56,4.761905,10.5780,6.7
3/25/2019,605-03-2706,A,Yangon,Normal,Female,Health and beauty,15.80,3,2.3700,49.7700,18:02,Cash,47.40,4.761905,2.3700,9.5

In [134]:
## We can also get only a specific column
sales.loc['3/25/2019', 'Gender']

Date
3/25/2019      Male
3/25/2019      Male
3/25/2019      Male
3/25/2019    Female
3/25/2019    Female
3/25/2019      Male
3/25/2019    Female
3/25/2019      Male
3/25/2019    Female
Name: Gender, dtype: object

In [93]:
# sales.iloc['2/8/2019']
# ilocuses integer indexing. Regardless of what theactual index is, ilocwill get theassociated rows/columnsfromintegers

In [136]:
print(sales.iloc[7]) # выбираем третью строку датафрейма

Invoice ID                               315-22-5665
Branch                                             C
City                                       Naypyitaw
Customer type                                 Normal
Gender                                        Female
Product line                      Home and lifestyle
Unit price                                     73.56
Quantity                                          10
Tax 5%                                         36.78
Total                                         772.38
Time                                           11:38
Payment                                      Ewallet
Cost of goods sold                             735.6
Gross margin percentage                     4.761905
Gross income                                   36.78
Customer stratification rating                   8.0
Name: 2/24/2019, dtype: object

In [137]:
sales.reset_index(inplace = True)
sales.loc[6]

Date                                           2/25/2019
Invoice ID                                   355-53-5943
Branch                                                 A
City                                              Yangon
Customer type                                     Member
Gender                                            Female
Product line                      Electronic accessories
Unit price                                         68.84
Quantity                                               6
Tax 5%                                            20.652
Total                                            433.692
Time                                               14:36
Payment                                          Ewallet
Cost of goods sold                                413.04
Gross margin percentage                         4.761905
Gross income                                      20.652
Customer stratification rating                       5.8
Name: 6, dtype: object

In [139]:
sales.iloc[7]['City']

'Naypyitaw'

In [140]:
sales.iloc[3]['City']

'Yangon'

In [141]:
sales.City == 'Yangon'

0       True
1      False
2       True
3       True
4       True
       ...
995    False
996    False
997     True
998     True
999     True
Name: City, Length: 1000, dtype: bool

In [142]:
sales.loc[sales.City == 'Yangon']

,Date,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Time,Payment,Cost of goods sold,Gross margin percentage,Gross income,Customer stratification rating
0,1/5/2019,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,13:08,Ewallet,522.83,4.761905,26.1415,9.1
2,3/3/2019,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,1/27/2019,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,2/8/2019,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,10:37,Ewallet,604.17,4.761905,30.2085,5.3
6,2/25/2019,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520,433.6920,14:36,Ewallet,413.04,4.761905,20.6520,5.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,3/22/2019,886-18-2897,A,Yangon,Normal,Female,Food and beverages,56.56,5,14.1400,296.9400,19:06,Credit card,282.80,4.761905,14.1400,4.5
992,3/10/2019,745-74-0715,A,Yangon,Normal,Male,Electronic accessories,58.03,2,5.8030,121.8630,20:46,Ewallet,116.06,4.761905,5.8030,8.8
997,2/9/2019,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,13:22,Cash,31.84,4.761905,1.5920,7.7
998,2/22/2019,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,15:33,Cash,65.82,4.761905,3.2910,4.1
999,2/18/2019,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,13:28,Cash,618.38,4.761905,30.9190,6.6

In [146]:
# важно установить индекс перед тем, как фильтровать таблицу
sales.set_index('Date', inplace=True)

In [147]:
# Изменить значение в строке с датой '1/2/2022' для столбца 'Sales'
sales.loc['1/27/2019', 'City'] = 'St. Petersburg'

In [148]:
sales

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Time,Payment,Cost of goods sold,Gross margin percentage,Gross income,Customer stratification rating
Date,,,,,,,,,,,,,,,,
1/5/2019,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7.0,26.1415,548.9715,13:08,Ewallet,522.83,4.761905,26.1415,9.1
3/8/2019,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5.0,3.8200,80.2200,10:29,Cash,76.40,4.761905,3.8200,9.6
3/3/2019,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7.0,16.2155,340.5255,13:23,Credit card,324.31,4.761905,16.2155,7.4
1/27/2019,123-19-1176,A,St. Petersburg,Member,Male,Health and beauty,58.22,8.0,23.2880,489.0480,20:33,Ewallet,465.76,4.761905,23.2880,8.4
2/8/2019,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7.0,30.2085,634.3785,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3/2/2019,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10.0,48.6900,1022.4900,17:16,Ewallet,973.80,4.761905,48.6900,4.4
2/9/2019,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1.0,1.5920,33.4320,13:22,Cash,31.84,4.761905,1.5920,7.7
2/22/2019,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1.0,3.2910,69.1110,15:33,Cash,65.82,4.761905,3.2910,4.1
2/18/2019,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7.0,30.9190,649.2990,13:28,Cash,618.38,4.761905,30.9190,6.6
NaN,NaN,NaN,St. Petersburg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [149]:
### Get all rows that purchased fashion accesories. Store it into sales_fashion.
sales_fashion = sales[sales['Product line'] == 'Fashion accessories']

In [150]:
### Get all credit card purcahses from sales_fashion.
sales_card_fashion = sales_fashion[sales_fashion['Payment'] == 'Credit card']

In [151]:
sales_card_fashion['Tax 10%'] = sales_card_fashion['Total'] * 0.1

C:\Users\HOME\AppData\Local\Temp\ipykernel_13204\2166694100.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_card_fashion['Tax 10%'] = sales_card_fashion['Total'] * 0.1

In [152]:
sales_card_fashion.loc[:, 'Tax 10%'] = sales_card_fashion['Total'] * 0.1

C:\Users\HOME\AppData\Local\Temp\ipykernel_13204\3818297111.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_card_fashion.loc[:, 'Tax 10%'] = sales_card_fashion['Total'] * 0.1

In [153]:
sales_card_fashion['Tax 10%'].describe()

count     56.000000
mean      30.955481
std       28.067689
min        1.269450
25%       10.880100
50%       20.107500
75%       41.491538
max      104.265000
Name: Tax 10%, dtype: float64