In [1]:
import pandas as pd
import numpy as np

In [8]:
orders = pd.read_csv(r"C:\Users\HOME\Documents\data_science\ml_for_supply_chain_082024\module2\orders.csv")
orders.tail(4)

,order_id,order_dow,order_hour_of_day,days_since_prior_order,air fresheners candles,asian foods,baby accessories,baby bath body care,baby food formula,bakery desserts,...,spreads,tea,tofu meat alternatives,tortillas flat bread,trail mix snack mix,trash bags liners,vitamins supplements,water seltzer sparkling water,white wines,yogurt
4996,3420158,0,14,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4997,3420769,2,17,10,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4998,3420894,0,14,27,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
4999,3420909,0,19,13,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,2

In [9]:
orders.columns

Index(['order_id', 'order_dow', 'order_hour_of_day', 'days_since_prior_order',
       'air fresheners candles', 'asian foods', 'baby accessories',
       'baby bath body care', 'baby food formula', 'bakery desserts',
       ...
       'spreads', 'tea', 'tofu meat alternatives', 'tortillas flat bread',
       'trail mix snack mix', 'trash bags liners', 'vitamins supplements',
       'water seltzer sparkling water', 'white wines', 'yogurt'],
      dtype='object', length=138)

In [11]:
drop_col = orders.columns[0]
drop_col

'order_id'

In [12]:
orders.drop(columns=drop_col, inplace=True) # inplace True, чтобы сразу применить и не перезаписывать переменную

In [13]:
orders

,order_dow,order_hour_of_day,days_since_prior_order,air fresheners candles,asian foods,baby accessories,baby bath body care,baby food formula,bakery desserts,baking ingredients,...,spreads,tea,tofu meat alternatives,tortillas flat bread,trail mix snack mix,trash bags liners,vitamins supplements,water seltzer sparkling water,white wines,yogurt
0,1,8,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,4,10,30,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,8,29,0,0,0,0,1,0,0,...,0,0,0,2,0,0,0,0,0,2
3,1,15,8,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,1
4,2,18,8,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,5,19,30,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,3,4
4996,0,14,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4997,2,17,10,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4998,0,14,27,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
4999,0,19,13,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,2